*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Inter';
}
header {
    background-color: #232323;
  }
  .container{
  padding-left:100px;
  padding-right: 100px;
  width: 1440px;
  margin: auto;
  /* border:1px solid #232323; */
  }
  .header_container {
    padding: 10px;
    max-width: 1440px;
    display: flex;
    gap: 283px;
    align-items: center;
    color: #454f5b;
    justify-content: space-between;
    margin: 0 auto;
  }
  .left_part {
    display: flex;
    gap: 101px;
    align-items: center;
  }
  ul {
    display: flex;
    gap: 32px;
  }
  li {
    list-style: none;
  }
  a {
    display: flex;
    align-items: center;
    color: #454f5b;
    text-decoration: none;
    gap: 10px;
  }
  .right_part {
    display: flex;
    gap: 30px;
  }
  .icons {
    display: flex;
    gap: 30px;
  }
.cart{
width: 836px;
height: 394px;
border:1px solid #4295E4;
margin: 26px auto;
}
.cart__head{
    height: 66px;
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid #232323;
/* padding-left: 50px; */
}
.cart__head span{
margin-left: 40px;
margin-top: 16px;
font-size: 20px;
font-weight: 500;
line-height: 34px;
/* text-align: left; */
margin-bottom: 16px;
}
.cart__head i {
margin-right: 40px;
margin-top: 35px;
margin-bottom: 35px;
font-size: 24px;
}
.cart_hero{

}